.ipynb_checkpoints/*
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
tmp.shx
tmp.shp
tmp.prj
tmp.dbf
.DS_Store
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
MullerData/continental_polygons2.gpmlz

results/*
topology_plotting.pyc
