.ipynb_checkpoints/*
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
tmp.*
tmp2.*
.DS_Store
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
.ipynb_checkpoints/VDM_distances-checkpoint.ipynb
MullerData/continental_polygons2.gpmlz

topology_plotting.pyc

images/sub*
images/VDM*
*.pyc

*.mp4
